<!-- prettier-ignore -->
{% extends 'base.html'%} 
{% block title%}Boogle Board{% endblock%}
<!--  -->
{% block content %}
<!-- HTML BODY TAG CONTENT OF WEBPAGE -->
<h2>Boggle Game Board</h2>
<div id="game-board-container">
	<!-- [][][][][]<br />[][][][][]<br />[][][][][]<br />[][][][][]<br />[][][][][] -->
	<table id="game-board">
		<thead>
			<tr>
				<th colspan="5">---Boggle---</th>
			</tr>
		</thead>
		<tbody>
			{% for row in board %}
			<tr>
				{% for chr in row %}
				<td><div class="chr">{{ chr }}</div></td>
				{% endfor %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
<form id="guess-word-form" action="/guess" method="POST">
	<label for="guess">Guess a word:</label> <br />
	<input id="guess" name="guess_word" type="text" placeholder="single word here" />
	<button>is it valid?</button>
</form>
<!-- our Score tracking dom element -->
<div id="score-container">
	<b>Score:</b>
	<div id="score">0</div>
</div>
<!-- our guesses listed -->
<h3>Guesses</h3>
<div id="guess-word-list">
	<ol id="guesses">
	</ol>
</div>
{% endblock %}
