<!-- prettier-ignore -->
{% extends 'base.html'%} 
{% block title%}Home{% endblock%}
<!--  -->
{% block content %}
<!-- HTML BODY TAG CONTENT OF WEBPAGE -->

<h2>Home</h2>
<p>
	Welcome to this simple flask boggle webgame app!
	<br>
	<br>
	<b>Instructions</b>
	<br>
	If you dont know how to play boggle then just click here to go read up on the <a href="https://github.com/papontem/23_5_flask_boggle/blob/main/README.md">ReadME page</a> of my github repo.
	<br>
	<br>
	<b>DO REMEMBER:</b>
	<br>
	when you want to start another game just come back to home through the black nav bar with the Home link, your high score will be saved and you'll be able to see it the next time you start a new game from here.
</p>

<p>Page has been visited {{ session['visit_count'] }} time(s).</p>

<form id="start-game-form" action="/start-game">
	<button type="submit">Start Boggle Game!</button>
</form>
{% endblock %}
